---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="Achievement"
    description="回首来时路"
    pubDate={new Date("2026-01-01")}
>
    <!-- Badge Detail -->
    <h2>Digital Badge</h2>
    <h3>Altered Security</h3>

    <div
        style="display: grid; grid-template-columns: 1fr 1fr; gap: 2rem; margin: 1rem 0;"
    >
        <div>
            <blockquote
                class="badgr-badge"
                style='font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;'
            >
                <a
                    href="https://badges.parchment.eu/public/assertions/-owtr5XYTgCHs-W8ZQzlsA"
                    ><img
                        width="120px"
                        height="120px"
                        src="https://badges.parchment.eu/public/assertions/-owtr5XYTgCHs-W8ZQzlsA/image"
                    /></a
                ><p
                    class="badgr-badge-name"
                    style="hyphens: auto; overflow-wrap: break-word; word-wrap: break-word; margin: 0; font-size: 16px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal; text-align: left; color: #05012c;"
                >
                    First Blood - Altered Security Red Labs
                </p><p
                    class="badgr-badge-date"
                    style="margin: 0; font-size: 12px; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #555555;"
                >
                    <strong
                        style="font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #000;"
                        >Awarded:
                    </strong>02/01/2026
                </p><p
                    class="badgr-badge-recipient"
                    style="margin: 0; font-size: 12px; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #555555;"
                >
                    <strong
                        style="font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #000;"
                        >Awarded To:
                    </strong><span style="display: block;">
                        randarkjmt@gmail.com
                    </span>
                </p><p style="margin: 16px 0; padding: 0;">
                    <a
                        class="badgr-badge-verify"
                        target="_blank"
                        href="https://badgecheck.io?url=https%3A%2F%2Fbadges.parchment.eu%2Fpublic%2Fassertions%2F-owtr5XYTgCHs-W8ZQzlsA&identity__email=randarkjmt%40gmail.com"
                        style="box-sizing: content-box; display: flex; align-items: center; justify-content: center; margin: 0; font-size:14px; font-weight: bold; width: 48px; height: 16px; border-radius: 4px; border: solid 1px black; text-decoration: none; padding: 6px 16px; margin: 16px 0; color: black;"
                        aria-label="Verify (opens in new window)">VERIFY</a
                    >
                </p><script
                    async="async"
                    src="https://badges.parchment.eu/assets/widgets.bundle.js"
                ></script>
            </blockquote>
        </div>

        <div>
            <iframe
                src="https://badges.parchment.eu/public/assertions/-owtr5XYTgCHs-W8ZQzlsA?identity__email=randarkjmt%40gmail.com&embedVersion=1&embedWidth=370&embedHeight=167&identity__email=randarkjmt%40gmail.com"
                style="width: 370px; height: 167px; border: 0px;"
                title="Badge: First Blood - Altered Security Red Labs"
            >
            </iframe>
        </div>
    </div>

    <div
        style="display: grid; grid-template-columns: 1fr 1fr; gap: 2rem; margin: 1rem 0;"
    >
        <div>
            <blockquote
                class="badgr-badge"
                style='font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;'
            >
                <a
                    href="https://badges.parchment.eu/public/assertions/uoAWQFYiSUeNt8BPYGtDEQ?identity__email=randarkjmt%40gmail.com"
                    ><img
                        width="120px"
                        height="120px"
                        src="https://badges.parchment.eu/public/assertions/uoAWQFYiSUeNt8BPYGtDEQ/image"
                    /></a
                ><p
                    class="badgr-badge-name"
                    style="hyphens: auto; overflow-wrap: break-word; word-wrap: break-word; margin: 0; font-size: 16px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal; text-align: left; color: #05012c;"
                >
                    Discovery and Recon - Altered Security Red Labs
                </p><p
                    class="badgr-badge-date"
                    style="margin: 0; font-size: 12px; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #555555;"
                >
                    <strong
                        style="font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #000;"
                        >Awarded:
                    </strong>02/01/2026
                </p><p
                    class="badgr-badge-recipient"
                    style="margin: 0; font-size: 12px; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #555555;"
                >
                    <strong
                        style="font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #000;"
                        >Awarded To:
                    </strong><span style="display: block;">
                        randarkjmt@gmail.com
                    </span>
                </p><p style="margin: 16px 0; padding: 0;">
                    <a
                        class="badgr-badge-verify"
                        target="_blank"
                        href="https://badgecheck.io?url=https%3A%2F%2Fbadges.parchment.eu%2Fpublic%2Fassertions%2FuoAWQFYiSUeNt8BPYGtDEQ%3Fidentity__email%3Drandarkjmt%2540gmail.com&identity__email=randarkjmt%40gmail.com"
                        style="box-sizing: content-box; display: flex; align-items: center; justify-content: center; margin: 0; font-size:14px; font-weight: bold; width: 48px; height: 16px; border-radius: 4px; border: solid 1px black; text-decoration: none; padding: 6px 16px; margin: 16px 0; color: black;"
                        aria-label="Verify (opens in new window)">VERIFY</a
                    >
                </p><script
                    async="async"
                    src="https://badges.parchment.eu/assets/widgets.bundle.js"
                ></script>
            </blockquote>
        </div>

        <div>
            <iframe
                src="https://badges.parchment.eu/public/assertions/uoAWQFYiSUeNt8BPYGtDEQ?identity__email=randarkjmt%40gmail.com&embedVersion=1&embedWidth=370&embedHeight=167&identity__email=randarkjmt%40gmail.com"
                style="width: 100%; max-width: 370px; height: 167px; border: 0px;"
                title="Badge: Discovery and Recon - Altered Security Red Labs"
            >
            </iframe>
        </div>
    </div>
</Layout>
